<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Productos</h1>
    <p>Lo que quieres</p>
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.consalud.es%2Festetic%2Fnutricion%2Fque-nutrientes-esconde-la-piel-de-frutas-y-verduras_43780_102.html&psig=AOvVaw08Syv6Q4u6ACPrCzvvJJJu&ust=1710348705220000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCKC3jcqX74QDFQAAAAAdAAAAABAE" />
<ul>
    {% for p in listaProductos %}
    
    <div>{{ p.id }}</div>
    <div>{{ p.nombre }}</div>
    <div>{{ p.precio }}</div>

    {% endfor %}
</ul>
</body>
</html>